# Node modules
/node_modules

# Testing coverage
/coverage

# Build outputs
/.next
/out
/build

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS system files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Yarn Plug'n'Play
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# SSL keys or certificates
*.pem

# Vercel deployment folder
.vercel

# IDEs and editors (optional)
.vscode
.idea

# Mac specific
*.swp
